apiVersion: v1
kind: Service 
metadata:
  name: demo-nginx
  namespace: demo-nginx
  labels:
    app: demo-nginx
spec:
  type: NodePort
  selector:
      app: demo-nginx
  ports:
    - port: 80
      targetPort: 80
      Nodeport: 30057